.form-outline {
   
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    
}

.form1{
    width: 1700px;
    left: 80px;
}
.size { 
    width: 1900px;
    height: 510px;
 
  }
  .space { 
   margin-top: 1%;
   margin-right: 3%;
   margin-left: 3%;
  }

  .space1 { 
    margin-top: 0.5%;
    margin-right: 3%;
    margin-left: 3%;
   }
